<div class="container">
  <div class="navbar navbar-expand-lg justify-content-between">
    <div class="d-lg-none">
      <span class="navbar-toggler mr-1" data-id="headers-4-sidebar-toggle">
        <img src="/themes/custom/tithe_calculator/build/assets/glyphs/burger.svg"/>
      </span>
    </div>
    <div><a href="/"><img src="/themes/custom/tithe_calculator/images/tc-logo.png" width="300"/></a></div>
    {{ elements.tithe_calculator_main_menu }}
  </div>
</div>
<hr class="mb-0">
{{ elements.tithe_calculator_breadcrumbs }}
